<div class="card mt-3">
    <h5 class="card-header bg-secondary text-light">
        <a id="post-link" href="/post/{{id}}">{{title}} by {{user.username}} posted on {{format_date created_at}}</a>
    </h5>
    <div class="card-body bg-light">
        <p class="card-text">{{post_body}}</p>
    </div>
    <div class="card-footer">
        <a href="/dashboard/edit/{{id}}" class="edit-link">Edit Post</a>
    </div>
</div>