<div class="container">
    {{#each posts as |post|}}
    <div class="card mt-3">
        <h5 class="card-header bg-secondary text-light">
            <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        </h5>
        <div class="card-body bg-light">
            <p class="card-text">{{post.post_body}}</p>
        </div>
    </div>
    {{/each}}
</div>

{{#if loggedIn}}
<form class="comment-form">
    <div class="mb-3">
        <textarea name="comment-body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/if}}

<div class="comments">
    {{#each post.comments}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}